{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="mb-4">Register</h1>

    <form action="/register" method="post" class="position-relative bg-dark p-4 rounded shadow" style="max-width: 500px; margin: auto;">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control bg-dark text-light border-secondary" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control bg-dark text-light border-secondary" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control bg-dark text-light border-secondary" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
